.container_1{
    background: #ECF2FE;
}
.collection_title{
    font-size: 400%;
}

.liner{
    background-color: black;
    width: 400px;
    height: 2px;
}

.filter_conteiner{
    cursor: pointer;
    margin-top: 1%;
    /*width: 2vw;*/
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter{
    /*background-color: red;*/
    height: 100%;
    padding-left: 15%;
    padding-right: 15%;
    border-radius: 25px;
    font-size: 20px;
    text-align: center;
    font-family: sans-serif;
    margin-right: 1vw;
    vertical-align: middle;
}

.nonselected{
    border: solid #AFC3FE 0.15vw;
    color: #AFC3FE;
    -webkit-box-shadow: 0px 5px 2px 0px rgba(171, 171, 171, 0.2);
    -moz-box-shadow: 0px 5px 2px 0px rgba(171, 171, 171, 0.2);
    box-shadow: 0px 5px 2px 0px rgba(171, 171, 171, 0.2);
}

.nonselected:hover{
    background-color: #F5F7FE;
}

.nonselected:active{
    background-color: #ECF1FE;
}

.selected{
    -webkit-box-shadow: 0px 5px 2px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 5px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5px 2px 0px rgba(0, 0, 0, 0.2);
}

.selected:hover{
    background-color: #E0EAFE;
}

.selected:active{
    background-color: #D2E1FE;
}

.sel_purple{
    background-color: #AFC3FE;
}

.sel_blue{
    background-color: #6BDCFF;
}

.sel_green{
    background-color: #CFEAF6;
}

.card {
    box-sizing: border-box;
    width: 700px;
    min-width: 700px;
    /*background-color: red;*/
    height: 500px;
    min-height: 250px;
}