body {
  margin: 0;
  background-color: #f9f9fa;
  font-family: "Open Sans", sans-serif;
}

#conteiner {
  height: 100vmax;
  min-width: 600px;
}

a:active,
a:hover,
a {
  text-decoration: none;
}

.header {
  background-color: #0c507c;
  height: 2.5vw;
  padding-left: 10vw;

  -webkit-box-shadow: 0px 5px 5px 0px rgba(3, 15, 37, 0.4);
  -moz-box-shadow: 0px 5px 5px 0px rgba(3, 15, 37, 0.4);
  box-shadow: 0px 5px 5px 0px rgba(3, 15, 37, 0.4);
  padding-top: 0.4vw;
  min-height: 20px;
}

.header-text {
  position: absolute;
  display: inline-block;
  /*    margin-top: 0.5%;*/
  /*    font-size: 157%;*/
  margin-left: 10vw;
  margin-bottom: 0;
  color: white;
  font-size: 1.3vw;
  font-weight: 400;
  text-decoration: none;
}

.header-text:hover {
  color: #32bfe6;
}

.header-text:active {
  color: #0886a8;
}

.coll_txt {
  left: 25vw;
}

.help_txt {
  left: 41vw;
}
#search {
  padding: 1.2% 2% 1% 2.3%;
  float: right;
  margin-right: 10vw;
  border-radius: 6px;
  border-color: #0c507c;
  width: 15vw;
  min-width: 89px;
  height: 2vw;
  min-height: 16px;
  background-color: white;
  background-image: url(img/search.png);
  background-repeat: no-repeat;
  background-position: center left;
  background-size: contain;
}

#search::placeholder {
  color: #0c507c;
  font-size: 120%;
  font-family: sans-serif;
  font-weight: 500;
  text-align: left;
}

input,
select,
textarea {
  color: #0c507c;
  font-size: 1vw;
  font-family: sans-serif;
}

#search_img {
  width: 1.4vw;
  height: 1.4vw;
  top: 1.2vw;
  margin-left: 15.8vw;
  position: absolute;
}

#logo {
  background-image: url(img/logo_2.svg);
  width: 5vw;
  min-width: 31px;
  height: 6vw;
  min-height: 36px;
  position: absolute;
  left: 3vw;
  top: 1vw;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-size: cover;
}

.name_of_collections {
  margin-top: 5vw;
  font-size: 2.5vw;
  margin-left: 10vw;
  font-family: sans-serif;
  color: #0c507c;
  text-shadow: 0.04vw 0.04vw 0.2vw #02b3e4;
}

.name_of_collections_math {
  margin-top: 16vw;
  font-size: 2.5vw;
  margin-left: 10vw;
  font-family: sans-serif;
  color: #0c507c;
  text-shadow: 0.04vw 0.04vw 0.2vw #02b3e4;
}

#conteiner_ph {
  display: inline-block;
}

#conteiner_mt {
  display: inline-block;
}

.coll_block {
  float: left;
  margin-bottom: 3vw;
  width: 18vw;
  min-width: 107px;
  height: 10vw;
  min-height: 60px;
  background-color: white;
  margin-left: 5.4vw;
  /*  left: 10vw;*/
  border-radius: 10px;
  /*    border: solid 0.15vw #02B3E4;*/
  box-shadow: 0vw 1vw 2vw #02b3e490;
  padding-top: 3.5vw;
}

#coll_block_text {
  font-family: sans-serif;
  font-size: 2vw;
  text-align: center;
  color: #0c507c;
}

.coll_block:hover {
  background-color: #ffffff;
  box-shadow: 0vw 1vw 2vw #02b3e4;
}

.coll_block:active {
  background-color: #e7e7e7;
  box-shadow: 0vw 1vw 2vw #02b3e4;
}

.button_uncover {
  cursor: pointer;
  width: 14vw;
  min-width: 83px;
  height: 4vw;
  min-height: 24px;
  background-color: #3b82b0;
  margin-left: 42.3vw;
  left: 10vw;
  border-radius: 10px;
  border: none;

  color: white;
  font-family: sans-serif;
  font-size: 1.2vw;
  text-align: center;
}

#block_uncover_text {
  text-decoration: none;
}

.button_uncover:hover {
  background-color: #377aa6;
  color: #f6f6f6;
}

.button_uncover:active {
  background-color: #316c94;
  color: #ededed;
}

#button_ph_hide {
  visibility: hidden;
}

#button_mt_hide {
  visibility: hidden;
}

#footer {
  background-image: url(img/footer.png);
  height: 8vw;
  background-size: cover;
  position: relative;
  top: 53vh;
}

#footer_heading {
  color: #02b3e4;
  position: absolute;
  font-family: sans-serif;
  font-size: 1.3vw;
  margin-top: 2vw;
  margin-left: 2vw;
  margin-bottom: 3vw;
}

#footer_text {
  color: #02b3e4;
  position: absolute;
  font-family: sans-serif;
  font-size: 1vw;
  margin-top: 5vw;
  margin-left: 2vw;
  margin-bottom: 3vw;
}

@media screen and (max-width: 600px) {
  #search {
    margin-top: 3px;
    padding: 6px 10px 6px 16px;
    /*        left: 100px;*/
  }

  input,
  select,
  textarea {
    color: #0c507c;
    font-size: 8px;
    font-family: sans-serif;
  }

  .header-text {
    margin-left: 60px;
    font-size: 8px;
    margin-top: 5px;
  }

  .main_txt {
    left: 60px;
  }

  .coll_txt {
    left: 150px;
  }

  .help_txt {
    left: 245px;
  }

  .name_of_collections {
    font-size: 15px;
    margin-left: 60px;
  }

  .name_of_collections_math {
    font-size: 15px;
    margin-left: 60px;
    margin-top: 95px;
  }

  .coll_block {
    margin-bottom: 18px;
    margin-left: 32px;
    padding-top: 21px;
  }

  #coll_block_text {
    font-size: 12px;
  }

  .button_uncover {
    margin-left: 252.5px;
    font-size: 7px;
  }
}
