a, u {
    text-decoration: none;
}


.media_left{
    flex-direction: row;
    justify-content: right;
    float: left;
}

.media_right{
    display: block;
    float: right;
}

.media_left_btn{
    display: flex;
}

.media_left_text{
    margin-top: 2vw;
    color: black;
}

.media_right_text{
    text-align: right;
    color: black;
    margin-bottom: 1vw;
}