body{
    margin: 0;
    overflow-x: hidden;
}

.container{
    width: 100vw;
    min-height: 100vh;
    background: rgb(149,194,255);
    background: -moz-linear-gradient(0deg, rgba(149,194,255,1) 0%, rgba(236,242,254,1) 12%, rgba(236,242,254,1) 75%, rgba(146,192,255,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(149,194,255,1) 0%, rgba(236,242,254,1) 12%, rgba(236,242,254,1) 75%, rgba(146,192,255,1) 100%);
    background: linear-gradient(0deg, rgba(149,194,255,1) 0%, rgba(236,242,254,1) 12%, rgba(236,242,254,1) 75%, rgba(146,192,255,1) 100%);
    padding-bottom: 5vw;
}

.areas{
    position: absolute;
    left: 18vw;
    top: 10vw;
    width: 15vw;
}

.areas_conteiner{
    position: absolute;
    top: 5vw;
    width: 100vw;
}

.fuisic_areas{
    padding: 0;
    margin-top: 10%;
    margin-left: 22.5%;
    margin-right: 65%;
    font-size: 4vw;
    font-family: sans-serif;
    color: #40424E;
    border-bottom: solid 0.3vw #40424E;
}

.text{
    font-family: sans-serif;
    color: #40424E;
}

.areas_top_text{
    margin-top: 1%;
    margin-bottom: 0;
    margin-right: 0;
    font-size: 2vw;
    border: none;
}

.areas_bottom_text{
    margin-top: 0;
    margin-right: 0;
    font-size: 2vw;
    border: none;
}

.three_bubbles{
    display: inline-block;
    width: 15vw;
    margin-top: 25%;
    margin-left: 22%;
}

.bubble_cont{
    margin-top: 25vw;
    display: inline-block;
    float: right;
}

.bubble_text{
    text-align: right;
    font-size: 1.6vw;
    margin-right: 23vw;
    margin-bottom: -2%;
}

.separator{
    margin-top: 6vw;
    height: 0.2vw;
    background-color: #40424E;
    margin-left: 17vw;
    margin-right: 17vw;
}

.image_block{
    display: inline-block;
    width: 20vw;
    height: 13.16vw;
    margin-top: 6vw;
    margin-left: 25vw;
    border-radius: 2vw;
    -webkit-box-shadow: 15px 15px 0px 0px rgba(217, 217, 217, 0.66);
    -moz-box-shadow: 15px 15px 0px 0px rgba(217, 217, 217, 0.66);
    box-shadow: 13px 15px 0px 0px rgba(217, 217, 217, 0.66);
}

#image{
    width: 100%;
    height: 100%;
}

.image_block_h{
    font-size: 1.5vw;
    display: inline-block;
    float: right;
    margin-right: 31.4vw;
    margin-top: -13vw;
}

.image_block_text{
    float: right;
    font-size: 1.6vw;
    text-align: left;
}

.image_text_1{
    margin-right: 25vw;
    margin-top: -10vw;
}

.image_text_2{
    margin-right: 25vw;
    margin-top: -8vw;
}

.image_text_3{
    margin-right: 30.9vw;
    margin-top: -6vw;
}

.image_text_4{
    margin-right: 40.2vw;
    margin-top: -4vw;
}

.block_image_and_text2 {
    margin-top: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: right; /* centers content horizontally */
    margin-right: 20vw;
  }
  
  .text_cont2 {
    margin-right: 5vw;
    margin-top: 4vw;
  }
  
  .image_block_2 {
      width: 20vw;
      height: 13.16vw;
    margin-top: 4vw;
    /* margin-left: 10vw; */
    border-radius: 2vw;
    -webkit-box-shadow: 15px 15px 0px 0px rgba(217, 217, 217, 0.66);
    -moz-box-shadow: 15px 15px 0px 0px rgba(217, 217, 217, 0.66);
    box-shadow: 15px 15px 0px 0px rgba(217, 217, 217, 0.66);
    /* margin-bottom: 2.5vh; */
    margin-right: 5vw;
}
  
  
  .image_block_h_2{
      font-size: 1.5vw;
    text-align: right;
    margin-bottom: 1vw;

    /* margin-right: 26vw; */
    /* margin-top: -20vw; */
}

.image_block_text_2{
    font-size: 1.6vw;
    margin: 0.5vw;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    line-height: 1;
    text-align: right;
}

#image_2{
    width: 100%;
    height: 100%;
}

/* ///////////////////////// */

.benefits{
    padding-top: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.benefit_h{
    font-size: 1.5vw;
    font-family: sans-serif;
}

  /* .benefit_h {
    margin: 0;
  } */
  
  .benefit_img {
    margin-top: 1vw;
  }
  
  .subjects {
    display: flex;
    justify-content: space-between;
    margin-top: 5vw;
  }
  
  .subjects img {
    width: 35vw;
    /* max-width: 70%; */
    /* margin-right: 20px; */
  }

  .benefits img {
    max-width: 100%;
    height: auto;
    margin: 0 10px;
  }

.registration_btn{
    cursor: pointer;
    width: 40vw;
    height: 7vw;
    margin-left: 30vw;
    border-radius: 1.5vw;
    color: white;
    text-align: center;
    background: linear-gradient(180deg, #8E88FF -34.76%, #857DFF 292.67%);
    border: none;
    margin-top: 5vw;
    font-size: 2vw;
}

.registration_btn:hover{
    background: linear-gradient(180deg, #847EED -34.76%, #716AD8 292.67%);
}

.registration_btn:active{
    background: linear-gradient(180deg, #7873D8 -34.76%, #6760C4 292.67%);
}

.text_center{
    text-align: center;
}

.actions{
    margin-top: 8vw;
    width: 60vw;
    margin-left: 20vw;
}