body {
  /*
    padding-left: 1%;
    padding-right: 1%;
*/
  margin: 0;
  background-color: #f9f9fa;
  font-family: "Open Sans", sans-serif;
}

#conteiner {
/*    height: 100vh;*/
    min-width: 600px;
/*    overflow: hidden;*/
}

.header {
  background-color: #0c507c;
  height: 2.5vw;
  padding-left: 10vw;

  -webkit-box-shadow: 0px 5px 5px 0px rgba(3, 15, 37, 0.4);
  -moz-box-shadow: 0px 5px 5px 0px rgba(3, 15, 37, 0.4);
  box-shadow: 0px 5px 5px 0px rgba(3, 15, 37, 0.4);
  padding-top: 0.4vw;
  min-height: 20px;
}

.header-text {
    position: absolute;
  display: inline-block;
/*    margin-top: 0.5%;*/
/*    font-size: 157%;*/
  margin-left: 10vw;
  margin-bottom: 0;
  color: white;
  font-size: 1.3vw;
  font-weight: 400;
  text-decoration: none;
}

.header-text:hover {
  color: #32bfe6;
}

.header-text:active {
  color: #0886a8;
}

.coll_txt{
    left: 25vw;
}
.test_txt{
    left: 41vw;
}

.help_txt{
    left: 55vw;
}

.auth_txt{
    right: 1vw;
}

#search {
  padding: 1.2% 2% 1% 2.3%;
  float: right;
  margin-right: 10vw;
  border-radius: 6px;
  border-color: #0c507c;
  width: 15vw;
    min-width: 89px;
  height: 2vw;
    min-height: 16px;
  background-color: white;
  background-image: url(img/search.png);
  background-repeat: no-repeat;
  background-position: center left;
  background-size:contain;
}

#search::placeholder {
  color: #0c507c;
  font-size: 120%;
  font-family: sans-serif;
  font-weight: 500;
  text-align: left;
}

input,
select,
textarea {
  color: #0c507c;
  font-size: 1vw;
}

#logo {
  background-image: url(img/logo_3.svg);
  width: 5vw;
    min-width: 31px;
  height: 6vw;
    min-height: 36px;
  position: absolute;
  left: 3vw;
  top: 1vw;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-size: cover;
}

#back_img_1 {
  background-image: url(img/image%202.png);
  height: 25vw;
  background-size: cover;
  min-height: 150px;
}

#triangle {
  top: 21.9vw;
  position: absolute;
  background-image: url(img/triangle.png);
  width: 44.7vw;
    min-width: 268px;
  height: 14.5vw;
    min-height: 87px;
  background-size: cover;
  background-repeat: no-repeat;
}

#trang_heading {
  color: #02b3e4;
  font-size: 2.7vw;
  margin-top: 2vh;
  margin-left: 4vw;
  margin-bottom: 3vw;
  font-weight: 600;
}

#trang_text {
  color: white;
  font-size: 1.6vw;
  margin-left: 4vw;
  margin-bottom: -1vw;
  font-weight: 400;
}

#conteiner_background_img {
  margin-top: 4%;
  background-image: url(img/F_2.svg);
  width: 20vw;
    min-width: 120px;
  height: 25vw;
    min-height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 65vw;
}

#top_info_block {
  width: 30vw;
    min-width: 180px;
  height: 13.4vw;
    min-height: 80px;
  background-color: white;
  position: absolute;
  top: 40vw;
  left: 10vw;
  border-radius: 10px;
  box-shadow: 0.2vw 0.3vw 1vw rgba(0, 0, 0, 0.5);
  padding-left: 3vw;
}

.top_info_text {
  color: #0c507c;
  font-family: sans-serif;
  margin-right: 5vw;
}

#top_info_toptext {
  font-size: 1.4vw;
}

#top_info_bottomtext {
  font-size: 1.2vw;
  margin-left: 6vw;
}

#bottom_info_block {
  width: 20vw;
    min-width: 119px;
  height: 8.9vw;
    min-height: 53px;
  background-color: white;
  position: absolute;
  top: 81vw;
  left: 66vw;
  border-radius: 10px;
  box-shadow: 0.2vw 0.3vw 1vw rgba(0, 0, 0, 0.5);
  padding-left: 2.2vw;
}

#bottom_info_toptext {
  font-size: 1.4vw;
  margin-right: 1.5vw;
}

.menu_button {
  width: 34vw;
  min-width: 199px;
  height: 18.1vw;
  min-height: 108px;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
    cursor: pointer;
  /* background-repeat: no-repeat; */

}

#menu_math {
  width: 35vw;
  height: 19vw;
}

#menu_physics {
  width: 34.1vw;
  height: 18.06vw;
}

#menu_physics {
  top: 58vw;
  left: 10vw;
  background-image: url(img/phys_button.png);
  -webkit-transition: 0.5s ease; /* Safari and Chrome */
  -moz-transition: 0.5s ease; /* Firefox 4 */
  -o-transition: 0.5s ease; /* Opera */
    transition-property: transform;
}

#phys_name {
  position: absolute;
  top: 35%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
    transition-property: transform;
}

#math_name {
  position: absolute;
  top: 35%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
    /*transition-property: transform;*/
}

#menu_physics:hover {
  background-image: url(img/phys_button.png);
  transform: scale(1.2);
  transition: 0.5s;
}

#menu_physics:hover #phys_name {
  color: #02b3e4;
  transition: 0.5s;
}

#menu_physics #phys_name {
  -webkit-transition: 0.5s ease; /* Safari and Chrome */
  -moz-transition: 0.5s ease; /* Firefox 4 */
  -o-transition: 0.5s ease; /* Opera */
}

#menu_physics:active {
  transform: scale(1.2);
  transition: 0.3s;
  opacity: 0.5;
}

.button_name {
  color: #f9f9fa;
  font-size: 3.4vw;
  font-weight: 700;
  stroke: #f9f9fa;
  stroke-width: 2px;

}

#menu_math {
  top: 58.26vw;
  left: 56vw;
  background-image: url(img/math_butt.png);
  -webkit-transition: 0.5s ease; /* Safari and Chrome */
  -moz-transition: 0.5s ease; /* Firefox 4 */
  -o-transition: 0.5s ease; /* Opera */
    transition-property: transform;
}

#menu_math:hover {
  background-image: url(img/math_butt.png);
  transform: scale(1.2);
  transition: 0.5s;
}

#menu_math #math_name {
  -webkit-transition: 0.5s ease; /* Safari and Chrome */
  -moz-transition: 0.5s ease; /* Firefox 4 */
  -o-transition: 0.5s ease; /* Opera */
}
#menu_math:hover #math_name {
  color: #02b3e4;
  transition: 0.5s;
}

#menu_math:active {
  transform: scale(1.2);
  transition: 0.3s;
  opacity: 0.5;
}

#footer {
  background-image: url(img/footer.png);
  height: 8vw;
  width: 100%;
  background-size: cover;
  margin-top: auto;
  position: absolute;
  top: 100vmax;
}

#footer_heading {
  color: #02b3e4;
  position: absolute;
  font-family: sans-serif;
  font-size: 1.3vw;
  margin-top: 2vw;
  margin-left: 2vw;
  margin-bottom: 3vw;
}

#footer_text {
  color: #02b3e4;
  position: absolute;
  font-family: sans-serif;
  font-size: 1vw;
  margin-top: 5vw;
  margin-left: 2vw;
  margin-bottom: 3vw;
}


@media screen and (max-width: 600px) {
    #search{
        margin-top: 3px;
        padding: 6px 10px 6px 16px;
    }

    input,
    select,
    textarea {
        color: #0c507c;
        font-size: 8px;
        font-family: sans-serif;
    }

    .header-text{
        margin-left: 60px;
        font-size: 8px;
        margin-top: 5px;
    }

    .main_txt{
        left: 60px;
    }

    .coll_txt {
        left: 150px;
    }

    .help_txt {
        left: 245px;
    }

    #triangle{
        top: 131px;
    }

    #trang_heading{
        margin-top: 16px;
        font-size: 14px;
    }

    #trang_text{
        font-size: 9px;
    }

    #conteiner_background_img{
        margin-left: 378px;
    }

    #top_info_block{
        top: 234px;
        left: 60px
    }

    #top_info_toptext{
        font-size: 8px;
    }

    #top_info_bottomtext{
        font-size: 7px;
    }

    #menu_physics{
        top: 348px;
        left: 60px;
    }

    #phys_name{
        font-size: 20px;
    }

    #matx_name{
        font-size: 20px;
    }

    #menu_math{
        top: 350px;
        left: 336px;
    }

    #bottom_info_block{
        top: 485px;
        left: 395px;
    }

    #bottom_info_toptext{
        font-size: 8.3px;
    }
}
