.table-responsive{
    border-radius: 6px;
    border-width: 1px;
    border-color: #dee2e6;
    overflow-x: auto;
}
.table{
    margin-bottom: 0 !important;
}
.button{
    margin-top: 10px;
}
.level-info {
    padding: 10px;
    border-radius: 6px;
    border-color: #dee2e6;
    background-color: #ffffff;

}

.current-level {
    margin-bottom: 10px;
}

.next-level {
    margin-bottom: 10px;
}

.progress-container {
    display: flex;
    align-items: center;
}

.progress {
    flex: 1; /* добавляем свойство flex с значением 1, чтобы полоса прогресса занимала всю доступную ширину */
    height: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
    overflow: hidden;
    margin-left: 10px;
    margin-right: 10px;
}

.progress-bar {
    height: 100%;
    background-color: #4CAF50;
    width: 0;
    transition: width 1s ease-in-out 0s;
}



